<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My SI 507 Final Project!</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>This app collects data from World Bank website.
        Users may select countries and fields
        to inspect the data and charts.</p>
    <p>To get charts for data of one field, one or more countries,
         please use <a href="http://127.0.0.1:5000/plotform">this form</a>.</p>
    <p>To get data tables of certain fields and countries,
         please use <a href="http://127.0.0.1:5000/tableform">this form</a>.</p>
</body>
</html>